<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/bttn.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap10.css">
    <!-- Script -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
    <link href="/css/mapbox.css" rel="stylesheet" />
    <!-- Title -->
    <title>TravelBuddy | Madrid</title>
</head>

<body>

  <div class="image-madrid">
    <div class="Title-Animation container-ease-in">
      <p><%= KonstcityName %></p>
    </div>
   </div>
    <div class="content">


    <!-- NavBar -->
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/home" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none" style="font-weight: 700; font-size: 400%;">
          TravelBuddy
        </a>
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 focus-in-contract-bck">   
                  <li><a href="/suggestion" class="nav-link px-2 link-light">Suggest a new City</a></li>
                  <li><a href="/contact" class="nav-link px-2 link-light">Contact</a></li>
              </ul>
      </header>
  </div>
    <main>
        <section class="py-3 container text-center container">
          <div class="row py-lg-1">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Madrid</h1>
              <p class="lead text-muted">Spain</p>
            </div>
          </div>
          <div class="col align-self-end">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0pVIi5Gdj9n2zdbNdEBpp0?utm_source=generator&theme=0" width="50%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <h1>This site is gonna be filled with content soon...</h1>
          </div>
         </section>

         

      </main>
</body>
</html>