<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/bttn.css">
    <link rel="stylesheet" href="/css/bootstrap-new.css">
    <link rel="stylesheet" href="/css/bootstrap10.css">
    <!-- Script -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
    <link href="/css/mapbox.css" rel="stylesheet" />
    <!-- Title -->
    <title>TravelBuddy | Homepage</title>
</head>

<body>

  <div class="image">
    <div class="Title-Animation container-ease-in">
      <p>Paris</p>
    </div>
   </div>
    <div class="content">



    <!-- NavBar -->
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/home" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none" style="font-family:'Caveat', cursive; font-weight: 700; font-size: 400%;">
            TravelBuddy
          </a>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 focus-in-contract-bck">   
                    <li><a href="/suggestion" class="nav-link px-2 link-light">Suggest a new City</a></li>
                    <li><a href="/contact" class="nav-link px-2 link-light">Contact</a></li>
                </ul>
        </header>
    </div>

    <main>

        <section class="py-3 text-center container">
          <div class="row py-lg-1">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Paris</h1>
              <p class="lead text-muted">France</p>
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/images/Travel_BUDDY/Paris/landmonkeys-min.png" alt="" style="height: 225px; width: 100%; object-fit: cover;">
                  <div class="card-body">
                    <p class="card-text" style="color: black;">Bistro LINK TEST</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <form action="submit">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://goo.gl/maps/6FgQsZCVpiSeKghV8', '_blank')">Google</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://www.instagram.com/land_and_monkeys/?hl=en', '_blank')">IG</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/images/Travel_BUDDY/Paris/arc-min.png" alt="" style="height: 225px; width: 100%; object-fit: cover;">
                  <div class="card-body">
                    <p class="card-text" style="color: black ;">Café ...</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://goo.gl/maps/6FgQsZCVpiSeKghV8', '_blank')">Google</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://www.instagram.com/land_and_monkeys/?hl=en', '_blank')">IG</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="/images/Travel_BUDDY/Paris/5pailes-min.png" alt="" style="height: 225px; width: 100%; object-fit: cover;">
                  <div class="card-body">
                    <p class="card-text" style=" color:black">Restaurant ...</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://goo.gl/maps/6FgQsZCVpiSeKghV8', '_blank')">Google</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://www.instagram.com/land_and_monkeys/?hl=en', '_blank')">IG</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="/images/Travel_BUDDY/Paris/sacre-min.png" alt="" style="height: 225px; width: 100%; object-fit: cover;">
                  <div class="card-body">
                    <p class="card-text" style="color: black;">Bistro ...</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://goo.gl/maps/6FgQsZCVpiSeKghV8', '_blank')">Google</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://www.instagram.com/land_and_monkeys/?hl=en', '_blank')">IG</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/images/Travel_BUDDY/Paris/bouillon-min.png" alt="" style="height: 225px; width: 100%; object-fit: cover;">
                  <div class="card-body">
                    <p class="card-text" style="color: black ;">Café ...</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://goo.gl/maps/6FgQsZCVpiSeKghV8', '_blank')">Google</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://www.instagram.com/land_and_monkeys/?hl=en', '_blank')">IG</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="/images/Travel_BUDDY/Paris/parcButtes-min.png" alt="" style="height: 225px; width: 100%; object-fit: cover;">
                  <div class="card-body">
                    <p class="card-text" style=" color:black">Restaurant ...</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://goo.gl/maps/6FgQsZCVpiSeKghV8', '_blank')">Google</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('https://www.instagram.com/land_and_monkeys/?hl=en', '_blank')">IG</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      </main>

    </div>
</body>
</html>